<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    
    <div class="container">
        <div class="row">
            <% if(productExists) { %>
            <div class="col-sm-12">
              Product exists already
            </div>
            <% } %>
        </div>
        <div id="loader">
         
            <p class="danger">
              product loading
            </p>
            
        </div>
      <h1>Get your favourite fashion items with a discount!</h1>
      <h2>Input the URL of the item you like and check out the discounts!</h2>

      <a href='/login'>Log In</a>
      <a href='/logout'>Log out</a>
      <a href='/signup'>Sign Up</a>

      

      <form method="POST" action="/addUrl" id="checkform">
        <input
          type="url"
          name="url"
          id="url"
          placeholder="https://example.com"
          size="100"
          pattern="https://.*"
          class="form-control"
        />

        <input type="submit" value="OK" id="sumit" class="btn btn-default"/>
      </form>

      

      <div class="row">
        <% saleItems.forEach(function(item) { %>
        <div class="col-sm-4">
          <a href=<%= "/dashboard/" + item.productId %> class=<%= item.calculatedDiscount > 0 ? "text-danger" :"text-info" %> target="_blank">
            <img src=<%= item.images[0] %> class=<%= item.calculatedDiscount > 0 ? "danger" : " " %> /> 
            <h5> <%= item.productTitle %> </h5>
            <h5> <%= item.calculatedDiscount %> </h5>
          </a>
          <a href=<%= item.productURL %> class=<%= item.calculatedDiscount > 0 ? "text-danger" :"text-info" %> target="_blank">
            link
          </a>
          <!-- <button id="deleteItem" onclick=<%=  deleteAsosItem(item, user.username, ()=>console.log('me')).then(function(){console.log('hello')}).catch(e=> console.log('this is an error') %>> Delete <%= item.productId %> </button> -->
        </div>
        
    
        <% }); %>

        <!-- <% saleItems %>
          <script>
            localStorage.setItem('items', "<%= JSON.stringify(saleItems) %>");
            var test = "<%= JSON.stringify(saleItems) %>";
          </script> 
         <%  %> -->
      </div>
    </div>

    <footer>
        <% include ./partials/footer %>
        <% include ./partials/script %>
    </footer>
    <script>
      document.getElementById('checkform').addEventListener("submit", function(){
        console.log('oho, something is changing!');
        // trigger animation
        document.getElementById('loader').style.display = "block";
      })
    </script>
    
  </body>
</html>
