<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <% if(productExists) { %>
            <div class="col-sm-12">
              Product exists already
            </div>
            <% } %>
        </div>
      <h1>Sale!</h1>
      <div class="row">
          <% saleItems.forEach(function(item) { %>
          <div class="col-sm-4">
              <img src=<%= item.images[0] %> class=<%= item.calculatedDiscount > 0 ? "danger" : " " %> /> 
             
          </div>
          <div class="col-sm-4">
              <h5> <%= item.productTitle %> </h5>
              <h5> <%= item.calculatedDiscount %> </h5>
              <a href=<%= item.productURL %> class=<%= item.calculatedDiscount > 0 ? "text-danger" :"text-info" %> target="_blank">
                link
              </a>
              <% if(item.users && item.users.length > 0) { %>
                <div class="col-sm-12">
                    <p>  <%= item.users[0] %> </p>
                </div>
              <% } %>
          </div>
          <% }); %>
        </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
  </body>
</html>
