<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/header %>
  <div class="container">
    <!-- <div class="row">
      <% if(productExists) { %>
      <div class="col-sm-12">
        Product exists already
      </div>
      <% } %>
    </div> -->
    <!-- <div>
      <% if(productLoading) { %>
      <p class="danger">
        product loading
      </p>
      <% } %>
    </div> -->
    <div class="row">
      <h2>Get your favourite fashion items with a discount!</h2>
      <h2>Input the URL of the item you like and check out the discounts from ASOS!</h2>
    </div>

    <div class="row link-input">
      <form method="POST" action="/addUrl">
        <input type="url" name="url" id="url" placeholder="https://example.com" size="100" pattern="https://.*"
          class="form-control" />
        <input type="submit" value="Add item" id="sumit" class="btn btn-default" />
      </form>
    </div>

    <div class="row">
      <div class="js-masonry">
        <div class="row" id="work-grid">
          <% saleItems.forEach(function(item) { %>
          <div class="col-md-4 col-sm-4 col-xs-12 mix">
            <a class="img home-portfolio-image" href=<%= "/dashboard/" + item.productId %>
              class=<%= item.calculatedDiscount > 0 ? "text-danger" :"text-info" %> target="_blank">
              <img src=<%= item.images[0] %> />
              <div class="overlay-thumb">
                <div class="details">
                  <h5> <%= item.productTitle %> </h5>
                  <h5 class=<%= item.calculatedDiscount > 0 ? " text-danger" : " " %>>
                    Discount:
                    <%= item.calculatedDiscount %>
                  </h5>
                </div>
              </div>
            </a>
            <a href=<%= item.productURL %> class=<%= item.calculatedDiscount > 0 ? "text-danger" :"text-info" %>>
              link on Asos
            </a>
          </div>
          <% }); %>
        </div>
      </div>
    </div>


  </div>

  <footer>
    <% include ./partials/footer %>
    <% include ./partials/script %>
  </footer>

</body>

</html>